[submodule "git-heart-fzf"]
	path = git-heart-fzf
	url = https://gist.github.com/8b572b8d4b5eddd8b85e5f4d40f17236.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
	branch = master